<html lang="ru-RU">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pusi Store</title>
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//s.w.org">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <script src="{% static 'js/myDropdown.js' %}" type="text/javascript"></script>
</head>
<body class="home storefront-full-width-content storefront-align-wide left-sidebar">

<div id="page" class="hfeed site">
    <header id="masthead" class="site-header">
        <div class="col-full">

            <div class="site-branding">
                <a href="{% url 'home' %}"><h1 class="pusi_logo">Pusi Store</h1></a>
                <!--<img
                     width="392" height="183" src="logo1.jpg"
                     class="custom-logo"
                     srcset="logo1.jpg 392w, logo1.jpg 300w"
                     sizes="(max-width: 392px) 100vw, 392px"> -->
            </div>

        </div>

        <div class="storefront-primary-navigation">
            <div class="col-full">
                <nav class="main-navigation">
                    <div class="primary-navigation">
                        <ul id="menu-main" class="menu nav-menu" aria-expanded="false">
                            <li class="menu-item">
                                <a href="https://www.kufar.by/user/5223683">Магазин</a></li>
                            <li class="menu-item"><a
                                    href="{% url 'delivery' %}">Доставка</a></li>
                            <li class="menu-item"><a
                                    href="{% url 'contact' %}">Контакты</a></li>
                        </ul>
                    </div>
                </nav>


                <!-- #for mobile  -->


                <nav>
                    <div class="navbar">

                        <div class="dropdown">
                            <button class="dropbtn" onclick="myFunction()">Menu

                            </button>
                            <div class="dropdown-content" id="myDropdown">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item current_page_item menu-item-28">
                                    <a href="http://kufar.by" aria-current="page">Магазин</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29"><a
                                        href="/delivery/">Доставка</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94"><a
                                        href="/contact/">Контакты</a></li>
                            </div>
                        </div>
                    </div>

                </nav><!-- #site-navigation -->

            </div>
        </div>
    </header><!-- #masthead -->

    {% block content %}


    {% endblock content %}

</div>


</body>
</html>