{% extends 'main.html' %}

{% block content %}
    <style>
    html { overflow:  hidden;
    }

        p {

            margin-top: 18%;
            bottom: 20%;
            left: 0;
            width: 100%;
            text-align: center
        }
         @media (max-width: 66.4989378333em) {


             p {

            margin-top: 45%;
            bottom: 20%;
            left: 0;
            width: 100%;
            text-align: center
        }
             a{
                  margin: 0 0 0;
             }
         }

    </style>


    <p> 🌴Previously, black caviar and imported jeans were considered scarce.
        Today, sincerity, decency, kindness are in short supply.🌴
        #джинсынакаждыйдень </p><br>
    <div style=" margin-top: 40px;
            bottom: 20%;


            text-align: center ;margin: 4em 5em 32.41575em;">
        <a style="margin-left: 20px" href="https://t.me/pusiistore">Telegram</a>
        <a style="margin-left: 20px" href="https://www.instagram.com/pusi.store/">Instagram</a>
        <a style="margin-left: 20px" href="https://www.kufar.by/user/5223683">Kufar</a>
        <a style="margin-left: 20px" href="http://www.tiktok.com/@world.score">TikTok</a></div>



{% endblock content %}