{% extends 'main.html' %}

{% block content %}
    <style>
        p {

            margin-top: 40px;
            bottom: 20%;
            left: 0;
            width: 100%;
            text-align: center
        }
    </style>


    <p> ДОСТАВКА ПО УКРАИНЕ</p>

    <p> Доставка по Украине осуществляется транспортной компанией - НОВАЯ ПОЧТА</p>

    <p> Доставку оплачивает Покупатель при оформлении заказа.</p>

    <p> Уважаемые клиенты, мы не отсылаем товары указанные на сайте наложенным платежем.</p>

    <p> ОПЛАТА</p>

    <p> Cроки отправки заказа - от 1 до 2 суток с момента его оплаты</p>

    <p> Произвести оплату возможно с любой карты Visa/MasterCard через систему LiqPay. Ми не взимаем дополнительных
        комиссий. </p>


{% endblock content %}